<!-- pkg/templates/users/forgot_password.html -->
{% extends "users/index.html" %}

{% block content %}
<div class="row justify-content-center" style="padding-top: 100px;">
    <div class="col-md-9">
        <div class="row justify-content-center px-2">
            <div class="col-md-4" style="padding-top: 100px; padding-bottom: 100px; ">
                <div class="contain" id="container">
                    <div class="form-container text-center pl-3">
                        <h4 style="padding-top: 20%; padding-bottom: 20%;">Reset Password</h4>
                        {% include "users/_messages.html" %}
                        <form method="post" class="text-center ">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input class="form-control" type="text" name="otp_code" placeholder="OTP CODE" required>
                            <input class="form-control" type="password" name="new_password" placeholder="Enter New Password" required>

                            <button type="submit" class="btn form-control text-warning">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
