{% extends "users/dashboard.html" %}

{% block content %}

<div class="row justify-content-center mt-4">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <h1 class="text-center py-5">Transaction history</h1>
                {% if deets%}
                <table class="table table-stripped text-center table-bordered bg-white ">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Transaction Plan</th>
                            <th>Transaction Type</th>
                            <th>Transaction Amount</th>
                            <th>Action</th>
                            <th>Transaction Status</th>
                            <th>Transaction Date</th>
                            
                            
                        </tr>
                    </thead>
                    <tbody>

                        {% for x in deets %}
                        <tr>
                            <td>{{ loop.index}} .</td>
                            <td>{{x.trans_plan}}</td>
                        <td>{{ x.trans_name }}</td>
                            <td>{{ x.trans_amount }}</td>
                            <td>{{ x.trans_action }}</td>
                            <td>{{ x.trans_status }}</td>
                            <td>{{ x.trans_date}}</td>
                           
                            
                            
                            
                        </tr>
                        {% endfor%}
                    
                    </tbody>


                </table>
                {% else%}
                <div class="alert alert-info text-center">  
                    NO TRANSACTION FOUND

                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}